<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="PlatnedMaharaDbDev"
			 connectionString="SServer=172.28.47.227\SQLEXPRESS;Database=platnedpass_dev;User Id=platnedpassuser;Password=g91uiYMbcf+u@QF{;Encrypt=False;Connect Timeout=1000;" />
		<add name="PlatnedMaharaDbTest"
			 connectionString="SServer=172.28.47.227\SQLEXPRESS;Database=platnedpass_test;User Id=platnedpassuser;Password=g91uiYMbcf+u@QF{;Encrypt=False;Connect Timeout=1000;" />
		<add name="PlatnedMaharaDbProd"
			 connectionString="SServer=172.28.47.227\SQLEXPRESS;Database=platnedpass;User Id=platnedpassuser;Password=g91uiYMbcf+u@QF{;Encrypt=False;Connect Timeout=1000;" />
	</connectionStrings>
</configuration>